*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-primary: "Lato", sans-serif;
    --nf-color: #423c3a;
    --ns-color: #4b4f4d;
    --bg-color: black;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-p: 1.25rem;
    --fs-body: 1rem;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--bg-color);
}

header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    margin-bottom: 0.1em;
}

h1 {
    color: #fff;
    margin: 5px;
    padding: 0px;
}

.header {
    margin: 0 auto;
    background-color: #313131;
    z-index: 2;
}

.smallLogo {
    height: 8vh;
}

.container {
    margin: 10px auto;
    max-width: 1200px;
    padding: 10px;
}

/* --- Hamburger Functionality --- */
div.menu-link {
    padding: 1em;
    color: #fff;
}

/* When screen is small, center content and animate transitions. */
nav[role="navigation"] {
    clear: both;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
    margin: 0px 0px 0px -50px;
}

/* Positioning when nav does appear in small screen mode */
nav[role="navigation"].open {
    max-height: 15em;
    margin-bottom: 10px;
    margin-top: 5em;
}

/* When in small screen, center the list */
nav[role="navigation"] ul {
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-right: 6em;
}

nav[role="navigation"] li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/* Style for larger screens. Hide the menu button, and show the normal navigation menu. */
@media screen and (min-width: 660px) {
    div.menu-link {
        display: none;
    }

    nav[role="navigation"] {
        max-height: none;
        margin: 0px;
    }

    nav[role="navigation"] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
        text-align: right;
    }

    nav[role="navigation"] li {
        display: inline-block;
        margin: 0 0.25em;
    }

    nav[role="navigation"] li a {
        border: 0;
    }
}

/* --- Hamburger Appearance & Animation --- */
div.menu-link {
    width: 30px;
    top: 100px;
    left: 120px;
    transition-duration: 0.5s;
}

div.menu-link .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    right: 1em;
    margin-top: 0.7em;
    background-color: #efefef;
}

div.menu-link .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #efefef;
    content: "";
    top: -10px;
}

div.menu-link .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #efefef;
    content: "";
    top: 10px;
}

div.menu-link.open .icon {
    transition-duration: 0.5s;
    background: transparent;
}

div.menu-link.open .icon:before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}

div.menu-link.open .icon:after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

div.menu-link:hover {
    cursor: pointer;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogo img {
    height: 8vh;
}

.navigationBar {
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-self: space-between;
}

.imagesContainer a {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectImage {

    width: 95%;
    margin-top: 2em;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

.selectImage:nth-child(1) {
    margin-top: 0.2em;
}

.selectImage:hover {
    opacity: 0.7;
}

.imagesContainer img:nth-of-type(1) {
    margin-top: 2em;
}

.imagesContainer a {
    text-decoration: none;
}

.imagesContainer img:hover {
    text-transform: underline;
}

.imagesContainer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    margin-top: 1.2em;
}

.lastImageUnderDescription {
    margin-bottom: 2em;
}

h2:hover {
    text-decoration: underline;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("drewnoPrzerobione.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */
    height: 30vh;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 4em;
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1.1;
    top: 10px;
}

.footer li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer li:nth-child(4) {
    padding: 0.5em;
}

.footer a {
    color: white;
    font-size: 1rem;
}

@media all and (min-width: 1200px) {

    .header,
    .slideShowContainer img {
        width: 100%;
    }

    .header {
        margin: 0 auto;
        position: fixed;
    }

    .smallLogo {
        position: absolute;

        display: flex;
        justify-content: flex-start;
        height: 10vh;
    }

    nav[role="navigation"] ul {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 10vh;
        width: 100%;
        padding: 1em;
        font-size: var(--fs-h3);
    }

    nav[role="navigation"] li a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

    nav[role="navigation"] li a:hover {
        background-color: black;
    }

    .footer {
        position: relative;
        background-size: 100%;
        height: 50vh;
        margin-top: 0;
    }

    .divFooter p {
        position: absolute;
        font-size: var(--fs-h1);
    }

    .footerUL a {
        font-size: var(--fs-h2);
        margin-top: 0.5em;
    }
}